

.container-main {
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(252 111 11) 20%, rgb(226, 226, 226) 20%);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    width: 100%;
    justify-content: flex-end;

}




.main {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    /*
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    */
}

.card {
    width: 300px;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .card {
        height: 12vh;
    }
    .main {
        width: 80%;
    }
}


table {
    border-collapse: separate;
    border-spacing: 0 15px;
    
    border-collapse:separate;

  }
  th {
    background-color: rgb(252 111 11);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}
  th,
  td {
    width: 150px;
    text-align: center;
    padding: 15px;

  }
  h2 {
    color: #4287f5;
  }

  tr {
    border-radius: 10px !important;
    background-color: rgb(255, 255, 255);
  }

  td:first-child,
  th:first-child {
    border-radius: 10px 0 0 10px;
  }
  
  td:last-child,
  th:last-child {
    border-radius: 0 10px 10px 0;
  }

  .btn-title {
    border: none;
    background-color: inherit;
    color: #cf5600;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }

  .btn-title:hover {
    color: #773302;
  }

  

  .input {
    color: green;
  }

  .output {
    color: red;
  }